<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.acceleo.ide.ui.launching.launchConfigurationType">
    <stringAttribute key="org.eclipse.acceleo.ide.ui.ARGUMENTS" value=""/>
    <booleanAttribute key="org.eclipse.acceleo.ide.ui.COMPUTE_PROFILING" value="false"/>
    <booleanAttribute key="org.eclipse.acceleo.ide.ui.COMPUTE_TRACEABILITY" value="false"/>
    <stringAttribute key="org.eclipse.acceleo.ide.ui.LAUNCHING_STRATEGY_DESCRIPTION" value="Java Application"/>
    <stringAttribute key="org.eclipse.acceleo.ide.ui.MODEL_PATH" value="/transformacion_qvt_clase_entidad_relacion/modelo/modelo_entidadrelacion.xmi"/>
    <stringAttribute key="org.eclipse.acceleo.ide.ui.TARGET_PATH" value="/transformacion_acceleo_modelo_text/result"/>
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/transformacion_acceleo_modelo_text/src/transformacion_acceleo_modelo_text/main/Generate.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="transformacion_acceleo_modelo_text.main.Generate"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="transformacion_acceleo_modelo_text"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="&quot;/Users/josueordonez/eclipse-workspace/transformacion_qvt_clase_entidad_relacion/modelo/modelo_entidadrelacion.xmi&quot; &quot;/Users/josueordonez/eclipse-workspace/transformacion_acceleo_modelo_text/result&quot;"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="transformacion_acceleo_modelo_text"/>
</launchConfiguration>
